.bg {
    background: linear-gradient(to right, rgb(255, 110, 127), rgb(191, 233, 255));
    z-index: 2;
    background-size: cover;
    transition: all 0.5s ease;
}

.t-stroke {
    color: transparent;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    -moz-text-stroke-color: #000000;
    -webkit-text-stroke-color: #ffffff;
}

.t-shadow-halftone {
    position: relative;
}

.t-shadow-halftone::after {
    content: "Entropy";
    font-size: 5rem;
    letter-spacing: 0px;
    background: url('../../assets/logo/principal.jpg') 50% 47% repeat;
    background-size: 150%;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-stroke-width: 0;
    -webkit-text-stroke-width: 0;
    position: absolute;
    text-align: center;
    left: 8px;
    right: 0;
    top: 6px;
    z-index: -1;
    transition: all 0.5s ease;
}