@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    background-image: url("../../assets/image/316707.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
}

.logoTam {
    width: 180px;
    height: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

logImage {
    object-fit: cover;
    object-position: left;
}

.derecha {
    border: solid 2px whitesmoke;
    background-color: rgb(60, 38, 184);
    opacity: 0.5;
    margin: 0px;
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

h3 {
    letter-spacing: 1px;
}

.recuadro {
    background-image: linear-gradient(to right bottom, #ec0a28, #d8661c, #c38e3b, #b4aa6d, #b6bea4);
    opacity: 0.7;
    border-radius: 2px;
    margin-top: 3rem;
    box-shadow: 3px 3px 3px 2px rgb(231, 67, 18);
}

.log {
    width: 25rem;
    height: 30rem;
    border: solid 1px white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    background-image: radial-gradient(circle, #76767d, #757b81, #768081, #7c8480, #858781);
    background-image: linear-gradient(to right bottom, #e52c2e, #f56563, #fd9496, #fec1c4, #f7edee);
    opacity: .90;
    border-radius: 3px;
    font-family: 'Mochiy Pop One', sans-serif;
    padding-bottom: 5rem;
}

.inpt {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.positionTitulo {
    position: relative;
    top: -3rem;
    margin-left: auto;
    margin-right: auto;
}