* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.panel {
    background-image: url("../../assets/image/loginNuevo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}